<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
</head>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../css/qiyeindex.css">
<script src="../../js/jquery.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="../../js/axios.js"></script>
<style type="text/css">
       
</style>
<body style="background:#f2f2f2;height:100%;">
<div id="widthLI" style="background: #FD9700;position: fixed;width: 100%;z-index: 100000;top:0px">
    </div>
    <nav class="navbar navbar-default" role="navigation" style="background:#FD9700;position: fixed;;width: 100%;z-index: 100000;" id="daohanglan">
    <div class="container-fluid">
        <div class="">
            <a class="navbar-brand col-xs-1 col-sm-1 col-md-1 col-lg-1" style="color: #fff;text-align: center;"><span class="glyphicon glyphicon-chevron-left" style="color: rgb(255, 255, 255);" onclick="Mback()"></span></a>
            <a class="navbar-brand col-xs-10 col-sm-10 col-md-10 col-lg-10" style="color: #fff;text-align: center;">企业详情</a>
            <a class="navbar-brand col-xs-1 col-sm-1 col-md-1 col-lg-1" style="color: #fff;float: right;text-align: right;" ><span class="glyphicon glyphicon-remove" style="color: rgb(255, 255, 255);margin-left: -15px" onclick="Mclose()"></span></a>
        </div>
    </div>
</nav>
<div id="app" v-cloak>
    <div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 7rem;border-radius: 10px;">
        <span><img src="../../image/gongsitubiao.png" style="width: 67px;margin: 13px;"></span>
        <span style="font-size: 14px;width: 49%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ users.qymc }}</span>
        <span v-if="users.isstow == '0'" style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;" @click="shoucangs()">收藏</span>
        <span v-else style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;"  @click="shoucangs">已收藏</span>
 <!--        <br>
        <span style="padding: 5px;margin-left: 10px">简介：<span>{{users.xq.info}} </span></span> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px;margin-left: 10px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-right: 1px solid #000000">
                法定代表人
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-right: 1px solid #000000">
                注册资金
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                注册时间
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px;margin-left: 10px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                {{ users.qyfr }}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                <span v-if = "users.xq == 'undefined'">0万元</span><span v-else>{{users.xq.zzzb}}万元</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                {{commonTime}}
            </div>
        </div>
        <!-- <div style="padding: 5px;margin-left: 10px">法定代表人：<span>{{ users.qyfr }}</span></div>
        <div style="padding: 5px;margin-left: 10px">注册资金：<span>{{users.xq.zzzb}}万元</span></div>
        <div style="padding: 5px;margin-left: 10px">注册时间：<span>{{users.xq.xzsj}}</span></div> -->
        <div style="padding: 5px;margin-left: 10px">股东：<span>{{ users.xq.fddb }}</span></div>
        <div style="padding: 5px;margin-left: 10px">董监高：<span v-if="users.ry!= ''">{{users.ry[0].name}}{{users.ry[0].zhiwu}} &nbsp;&nbsp;&nbsp;{{users.ry[1].name}}{{users.ry[1].zhiwu}}</span></div> 
    </div>
    <div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 142px;border: 1px solid #E6E6E6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="gongshangxinxi(this)" id="qiyexiangqingID">
                <img src="../../image/shouyetu/gongshangxinxi.png" >
                <div class="mingcheng">工商信息</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="gudongxinxi(this)">
                <img src="../../image/shouyetu/gudongxinxi.png" >
                <div class="mingcheng">股东信息</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhuyaorenyuan(this)">
                <img src="../../image/shouyetu/zhuyaorenyuan.png" >
                <div class="mingcheng">主要人员</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="biangengjilu(this)">
                <img src="../../image/shouyetu/biangenjilu.png" >
                <div class="mingcheng">变更记录</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
                <img src="../../image/shouyetu/qiyenianbao.png" onclick="qiyenianbao(this)">
                <div class="mingcheng">企业年报</div>
            </div>
            
        </div>
    </div>
    <div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 284px;border: 1px solid #E6E6E6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;" onclick="jinrixinzeng(this)">
                <img src="../../image/shouyetu/jinrixinzeng.png" >
                <div class="mingcheng">今日新增</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="xinxizongliang(this)">
                <img src="../../image/shouyetu/s1.png" >
                <div class="mingcheng">信息总量</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="buliangxinxi(this)">
                <img src="../../image/shouyetu/s2.png" >
                <div class="mingcheng">不良信息</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="minshian(this)">
                <img src="../../image/shouyetu/s3.png" >
                <div class="mingcheng">民事案</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="peichangan(this)">
                <img src="../../image/shouyetu/s4.png" >
                <div class="mingcheng">赔偿案</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;" onclick="xingzhenan(this)">
                <img src="../../image/shouyetu/s5.png" >
                <div class="mingcheng">行政案</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhixingan(this)">
                <img src="../../image/shouyetu/s6.png" >
                <div class="mingcheng">执行案</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhixingxinxi(this)">
                <img src="../../image/shouyetu/s7.png" >
                <div class="mingcheng">执行信息</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;" onclick="chouchajiancha(this)">
                <img src="../../image/shouyetu/s8.png" >
                <div class="mingcheng">抽查检查结果信息</div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="shuangsuijichoucha(this)">
                <img src="../../image/shouyetu/s9.png" style="margin-top: -11px; " >
                <div class="mingcheng1">双随机抽查</div>
                <div class="mingcheng2">检查结果信息</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="sifaxiezhu(this)">
                <img src="../../image/shouyetu/s10.png" >
                <div class="mingcheng">司法协助信息</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="heimingdan(this)">
                <img src="../../image/shouyetu/s11.png" >
                <div class="mingcheng">黑名单</div>
            </div>
        </div>
    </div>
    <div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 142px;border: 1px solid #E6E6E6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zizhizhengshu(this)">
                <img src="../../image/shouyetu/s12.png" >
                <div class="mingcheng">企业资质证书</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="shangbiao(this)">
                <img src="../../image/shouyetu/s13.png" >
                <div class="mingcheng">商标</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhuanli(this)">
                <img src="../../image/shouyetu/s14.png" >
                <div class="mingcheng">专利</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhuzuoquan(this)">
                <img src="../../image/shouyetu/s15.png" >
                <div class="mingcheng">著作权</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhishichanquan(this)">
                <img src="../../image/shouyetu/s16.png" style="margin-top: -11px; " >
                <div class="mingcheng1">知识产权</div>
                <div class="mingcheng2">出质登记信息</div>
                <!-- <img src="../../image/shouyetu/s16.png" >
                <div class="mingcheng">知识产权出质登记信息</div> -->
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
                
            </div>
        </div>
    </div>
    <div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 213px;border: 1px solid #E6E6E6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhaopin(this)">
                <img src="../../image/shouyetu/s17.png" >
                <div class="mingcheng">招聘</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhucewangzhan(this)">
                <img src="../../image/shouyetu/s18.png" >
                <div class="mingcheng">注册网站</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="chanpinxinxi(this)">
                <img src="../../image/shouyetu/s19.png" >
                <div class="mingcheng">产品信息</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="gongsijianjie(this)">
                <img src="../../image/shouyetu/s20.png" >
                <div class="mingcheng">公司简介</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="zhaotoubiao(this)">
                <img src="../../image/shouyetu/s21.png" >
                <div class="mingcheng">招投标</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="qiyeyuangong(this)">
                <img src="../../image/shouyetu/s22.png" >
                <div class="mingcheng">企业员工</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="gongchenxingmu(this)">
                <img src="../../image/shouyetu/s23.png" >
                <div class="mingcheng">工程项目</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"onclick="weixin(this)">
                <img src="../../image/shouyetu/s24.png" >
                <div class="mingcheng">微信公众号</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian" style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
               
            </div>
        </div>
    </div>
    <!-- 正文结束 -->
</div>

</body> 
<script src="../../js/jquery.cookie.js"></script>
<script>
    var search = "";
    var qymcID = "";
window.onload=function(){
    var widthLIN = localStorage.getItem("key"); 
    document.getElementById('widthLI').style.height = widthLIN + 'px';
    document.getElementById('daohanglan').style.top = widthLIN + 'px';
    var dhlH = document.getElementById('daohanglan').offsetHeight;
    document.getElementById('app').style.marginTop = Number(widthLIN) + Number(dhlH) + 'px';
    var shoucang = "";
    var time = [];
    var timess = [];
    var name,value;
    var str=location.href;
    var num=str.indexOf("?");
    str=str.substr(num+1);
    var arr=str.split("&");
    for(var i=0;i < arr.length;i++){
        num=arr[i].indexOf("=");
        if(num>0){
            name=arr[i].substring(0,num);
            value=arr[i].substr(num+1);
            this[name]=value;
            search = value;
        }
    }
    new Vue({
        el:'#app',
        data:{
            users:[],
            timess:[],
            names:[],
            commonTime:"",
        },
        mounted:function(){
            this.sendGetByObj();
        },
        methods:{
            sendGetByObj:function(){
                var than = this;
                this.$http.get('../../../index.php/index/qy/view',{
                    params:{
                        aid: search,
                        act: "app"
                    }
                })
                .then(function (response) {
                    console.log(response);
                    console.log(response.data.content.xq.zzzb)
                    than.users = response.data.content
                    qymcID = response.data.content.qymc
                   
                    Date.prototype.toLocaleString = function() {
                        return this.getFullYear() + "." + (this.getMonth() + 1) + "." + this.getDate();
                    };
                    var time = response.data.content.xq.yyqs;
                    var unixTimestamp = new Date( time*1000 ) ;
                    than.commonTime = unixTimestamp.toLocaleString();
                    
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            shoucangs:function(){
                var than = this;
                var ueser = than.users;
                this.$http.get('../../../index.php/index/stow/insert',{
                    params:{
                        type: "qyxx",
                        act: "app",
                        aid: search,
                        pid: search,
                        title:than.users.qymc
                    }
                })
                .then(function (response) {
                   console.log(response)
                   ueser.isstow = response.data.isstow;
                   console.log(ueser)
                   than.users = ueser
                   var panduan = localStorage.getItem("key1");
                    if (panduan =='1') {
                        window.control.LogShow(response.data.msg)
                    }else{
                        window.webkit.messageHandlers.showMessage.postMessage(response.data.msg)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        } 
    });
}
        function gongshangxinxi(element){
            window.location.href = "gongshangxinxi.html?aid="+search
        }
        function gudongxinxi(element){
            window.location.href = "gudongxinxi.html?aid="+search;
        }
        function zhuyaorenyuan(element){
            window.location.href = "renyuanxinxi.html?aid="+search;
        }
        function biangengjilu(element){
            window.location.href = "biangenjilu.html?aid="+search;
        }
        function qiyenianbao(element){
            window.location.href = "qiyenianbao.html?aid="+search;
        }
        function jinrixinzeng(element){
           
            window.location.href = "jinrixinzeng.html?aid="+search + '&name=' + qymcID; 
        }
        function xinxizongliang(element){
            window.location.href = "xinxizongliang.html?aid="+search;
        }
        function buliangxinxi(element){
            window.location.href = "buliangxinxi.html?aid="+search;
        }
        function minshian(element){
            window.location.href = "minshian.html?aid="+search;
        }
        function peichangan(element){
            window.location.href = "peichangan.html?aid="+search;
        }
        function xingzhenan(element){
            window.location.href = "xingzhengan.html?aid="+search;
        }
        function zhixingan(element){
            window.location.href = "zhixingan.html?aid="+search;
        }
        function zhixingxinxi(element){
             console.log(search)
             window.location.href = "zhixingxinxi.html?aid="+search;
        }
        function chouchajiancha(element){
             window.location.href = "chouchajiancha.html?aid="+search;
        }
        function shuangsuijichoucha(element){
             window.location.href = "shuangsuijichoucha.html?aid="+search;
        }
        function sifaxiezhu(element){
             window.location.href = "sifaxiezhu.html?aid="+search;
        }
         function heimingdan(element){
             window.location.href = "heimingdan.html?aid="+search;
        }
         function zizhizhengshu(element){
             window.location.href = "qiyezizhizhengshu.html?aid="+search;
        }
        function zizhizhengshu(element){
             window.location.href = "qiyezizhizhengshu.html?aid="+search;
        }
        function shangbiao(element){
             window.location.href = "shangbiaoxinxi.html?aid="+search;
        }
        function zhishichanquan(element){
             window.location.href = "zhishichanquanchuzhi.html?aid="+search;
        }
        function zhaopin(element){
            window.location.href = "zhaoping.html?aid="+ search;
        }
        function zhucewangzhan(element){
            window.location.href = "zhucewangzhan.html?aid="+ search +"&name="+qymcID;;
        }
        function chanpinxinxi(element){
            window.location.href = "chanpinxinxi.html?aid="+ search +"&name="+qymcID;
        }
        function chanpinxinxi(element){
            window.location.href = "chanpinxinxi.html?aid="+ search +"&name="+qymcID;
        }
        function gongsijianjie(element){
            window.location.href = "gongsijianjie.html?sn="+search +"&name="+qymcID;
        }
        function zhaotoubiao(element){
            window.location.href = "zhaotoubiao.html?name="+search;
        }
        function qiyeyuangong(element){
             window.location.href = "qiyeyuangong.html?name="+search;
        }
        function gongchenxingmu(element){
             window.location.href = "gongchenxiangmu.html?name="+search;
        }
         function weixin(element){
             window.location.href = "weiixngongzhonghao.html?name="+search;
        }
        function zhuanli(element){
            window.location.href = "zhuanli.html?id="+search
        }
        function zhuzuoquan(element){
             window.location.href = "zhuzuoquan.html?id="+search
        }

function Mclose(){
      var widthLIN1 = localStorage.getItem("key1"); 
      if (widthLIN1 == "2") {
         window.webkit.messageHandlers.Mclose.postMessage("123");
     }else{
        window.control.mClose();
     }
      
}
function Mback(){
    window.history.go(-1);
}
</script>
</html>