<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../css/qiyeindex.css">
	<script src="../../js/jquery.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/bootstrap.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="../../js/axios.js"></script>
	<script src="../../js/vconsole.min.js"></script>
</head>

<body style="background:#f2f2f2;height:100%;">
	<div id="widthLI" style="background: #FD9700;position: fixed;width: 100%;z-index: 100000;top:0px">
	</div>
	<nav class="navbar navbar-default" role="navigation"
		style="background:#FD9700;position: fixed;;width: 100%;z-index: 100000; top: 0;" id="daohanglan">
		<div class="container-fluid">
			<div class="" style="display: flex; justify-content: space-between;align-items: center;">
				<a class="navbar-brand col-xs-1 col-sm-1 col-md-1 col-lg-1"
					style="color: #fff;text-align: center;"><span class="glyphicon glyphicon-chevron-left"
						style="color: rgb(255, 255, 255);" onclick="Mback()"></span></a>
				<a class="navbar-brand col-xs-10 col-sm-10 col-md-10 col-lg-10"
					style="color: #fff;text-align: center;">企业详情</a>
				<a class="navbar-brand col-xs-1 col-sm-1 col-md-1 col-lg-1"
					style="color: #fff;float: right;text-align: right;"><span class="glyphicon glyphicon-remove"
						style="color: rgb(255, 255, 255);margin-left: -15px" onclick="Mclose()"></span></a>
			</div>
		</div>
	</nav>
	<div id="app" v-cloak>
		<div style="width: 96%;margin-left: 2%;background: #fff;margin-top: 7rem;border-radius: 10px;">
			<!-- <span><img src="../../image/gongsitubiao.png" style="width: 67px;margin: 13px;"></span>
			<span
				style="font-size: 14px;width: 49%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ users.qymc }}</span>
			<span v-if="users.isstow == '0'"
				style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;"
				@click="shoucangs()">收藏</span>
			<span v-else
				style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;"
				@click="shoucangs">已收藏</span> -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;position: relative;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px;">
					<img src="../../image/gongsitubiao.png" style="width: 67px;margin: 13px;">
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding: 0px;margin-top: 38px;">
					<span
						style="font-size: 14px;width: 100%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ users.qymc }}</span>
					<!-- <span style="font-size: 14px;width: 49%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ users.qymc }}</span> -->
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px;margin-top: 32px;">
					<span v-if="users.isstow == '0'" style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;"@click="shoucangs()">收藏</span>
					<span v-else style="font-size: 14px;border:1px solid #FD9700;border-radius: 3px;padding: 2px;line-height: 30px;margin-left: 10px;color: #FD9700;"@click="shoucangs">已收藏</span>
				</div>
				<div style="position: absolute; top:64px; left:31vw;width: 65vw;">
					<div style="width: 82%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;">地址:{{ users.xxdz}}</div>	
					<div style="width: 12%;color: red;margin-left: 10px;float: left;" onclick="gongsijianjie()">详情</div>	
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-right: 1px solid #000000">
					法定代表人
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-right: 1px solid #000000">
					注册资金
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					注册时间
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					{{ users.qyfr }}
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<span v-if="zjlength == '0'"></span><span v-else>{{users.xq.zzzb}}万元</span>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					{{commonTime}}
				</div>
			</div>
			<div style="padding: 5px;margin-left: 10px">股东：<span>{{ users.xq.fddb }}</span></div>
			<div style="padding: 5px;margin-left: 10px">董监高：<span
					v-if="users.ry.length!= '0'">{{users.ry[0].name}}{{users.ry[0].zhiwu}}
					&nbsp;&nbsp;&nbsp;{{users.ry[1].name}}{{users.ry[1].zhiwu}}</span></div>
		</div>
		<div
			style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 142px;border: 1px solid #E6E6E6">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="gongshangxinxi(this)" id="qiyexiangqingID">
					<div v-if="users.is_gsxq==1">
						<img src="../../image/cutpic/true/gsxx.png">
						<div class="mingcheng">工商信息</div>
					</div>
					<div v-if="users.is_gsxq==0">
						<img src="../../image/cutpic/true/gsxx.png">
						<div class="mingcheng" style="color: #999;">工商信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="gudongxinxi(this)">
					<div v-if="users.is_czxx==1">
						<img src="../../image/cutpic/true/gdxx.png">
						<div class="mingcheng">股东信息</div>
					</div>
					<div v-if="users.is_czxx==0">
						<img src="../../image/cutpic/false/gdxx.png">
						<div class="mingcheng" style="color: #999;">股东信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhuyaorenyuan(this)">
					<div v-if="users.is_zyry==1">
						<img src="../../image/cutpic/true/zyry.png">
						<div class="mingcheng">主要人员</div>
					</div>
					<div v-if="users.is_zyry==0">
						<img src="../../image/cutpic/false/zyry.png">
						<div class="mingcheng" style="color: #999;">主要人员</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="biangengjilu(this)">
					<div v-if="users.is_bgxx==1">
						<img src="../../image/cutpic/true/bgjl.png">
						<div class="mingcheng">变更记录</div>
					</div>
					<div v-if="users.is_bgxx==0">
						<img src="../../image/cutpic/false/bgjl.png">
						<div class="mingcheng" style="color: #999;">变更记录</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
					<div v-if="users.is_qynb==1">
						<img src="../../image/cutpic/true/qynb.png" onclick="qiyenianbao(this)">
						<div class="mingcheng">企业年报</div>
					</div>
					<div v-if="users.is_qynb==0">
						<img src="../../image/cutpic/false/qynb.png" onclick="qiyenianbao(this)">
						<div class="mingcheng" style="color: #999;">企业年报</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 284px;border: 1px solid #E6E6E6">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="jinrixinzeng(this)">
					<div v-if="users.is_jrxz==1">
						<img src="../../image/cutpic/true/jrxz.png">
						<div class="mingcheng">今日新增</div>
					</div>
					<div v-if="users.is_jrxz==0">
						<img src="../../image/cutpic/false/jrxz.png">
						<div class="mingcheng" style="color: #999;">今日新增</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="xinxizongliang(this)">
					<div v-if="users.is_xxzl==1">
						<img src="../../image/cutpic/true/xxzl.png">
						<div class="mingcheng">信息总量</div>
					</div>
					<div v-if="users.is_xxzl==0">
						<img src="../../image/cutpic/false/xxzl.png">
						<div class="mingcheng" style="color: #999;">信息总量</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="buliangxinxi(this)">
					<div v-if="users.is_blxw==1">
						<img src="../../image/cutpic/true/blxx.png">
						<div class="mingcheng">不良信息</div>
					</div>
					<div v-if="users.is_blxw==0">
						<img src="../../image/cutpic/false/blxx.png">
						<div class="mingcheng" style="color: #999;">不良信息</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="minshian(this)">
					<div v-if="users.is_msan==1">
						<img src="../../image/cutpic/true/msa.png">
						<div class="mingcheng">民事案</div>
					</div>
					<div v-if="users.is_msan==0">
						<img src="../../image/cutpic/false/msa.png">
						<div class="mingcheng" style="color: #999;">民事案</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="peichangan(this)">
					<div v-if="users.is_pcan==1">
						<img src="../../image/cutpic/true/pca.png">
						<div class="mingcheng">赔偿案</div>
					</div>
					<div v-if="users.is_pcan==0">
						<img src="../../image/cutpic/false/pca.png">
						<div class="mingcheng" style="color: #999;">赔偿案</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="xingzhenan(this)">
					<div v-if="users.is_xzan==1">
						<img src="../../image/cutpic/true/xza.png">
						<div class="mingcheng">行政案</div>
					</div>
					<div v-if="users.is_xzan==0">
						<img src="../../image/cutpic/false/xza.png">
						<div class="mingcheng" style="color: #999;">行政案</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhixingan(this)">
					<div v-if="users.is_zxan==1">
						<img src="../../image/cutpic/true/zxa.png">
						<div class="mingcheng">执行案</div>
					</div>
					<div v-if="users.is_zxan==0">
						<img src="../../image/cutpic/false/zxa.png">
						<div class="mingcheng" style="color: #999;">执行案</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhixingxinxi(this)">
					<div v-if="users.is_zxxx==1">
						<img src="../../image/cutpic/true/zxxx.png">
						<div class="mingcheng">执行信息</div>
					</div>
					<div v-if="users.is_zxxx==0">
						<img src="../../image/cutpic/false/zxxx.png">
						<div class="mingcheng" style="color: #999;">执行信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="chouchajiancha(this)">
					<div v-if="users.is_ccjc==1">
						<img src="../../image/cutpic/true/ccjc.png">
						<div class="mingcheng">抽查检查结果信息</div>
					</div>
					<div v-if="users.is_ccjc==0">
						<img src="../../image/cutpic/true/ccjc.png">
						<div class="mingcheng" style="color: #999;">抽查检查结果信息</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="shuangsuijichoucha(this)">
					<div v-if="users.is_ssjcc==1">
						<img src="../../image/cutpic/true/ssjcc.png" style="margin-top: -11px; ">
						<div class="mingcheng1">双随机抽查</div>
						<div class="mingcheng2">检查结果信息</div>
					</div>
					<div v-if="users.is_ssjcc==0">
						<img src="../../image/cutpic/false/ssjcc.png" style="margin-top: -11px; ">
						<div class="mingcheng1" style="color: #999;">双随机抽查</div>
						<div class="mingcheng2" style="color: #999;">检查结果信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="sifaxiezhu(this)">
					<div v-if="users.is_sfxz==1">
						<img src="../../image/cutpic/true/sfxz.png">
						<div class="mingcheng">司法协助信息</div>
					</div>
					<div v-if="users.is_sfxz==0">
						<img src="../../image/cutpic/false/sfxz.png">
						<div class="mingcheng" style="color: #999;">司法协助信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="heimingdan(this)">
					<div v-if="users.is_hmdjl==1">
						<img src="../../image/cutpic/true/hmd.png">
						<div class="mingcheng">黑名单</div>
					</div>
					<div v-if="users.is_hmdjl==0">
						<img src="../../image/cutpic/false/hmd.png">
						<div class="mingcheng" style="color: #999;">黑名单</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 142px;border: 1px solid #E6E6E6">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zizhizhengshu(this)">
					<div v-if="users.is_zzlx==1">
						<img src="../../image/cutpic/true/qyzz.png">
						<div class="mingcheng">企业资质证书</div>
					</div>
					<div v-if="users.is_zzlx==0">
						<img src="../../image/cutpic/false/qyzz.png">
						<div class="mingcheng" style="color: #999;">企业资质证书</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="shangbiao(this)">
					<div v-if="users.is_sbzc==1">
						<img src="../../image/cutpic/true/copy.png">
						<div class="mingcheng">商标</div>
					</div>
					<div v-if="users.is_sbzc==0">
						<img src="../../image/cutpic/false/copy.png">
						<div class="mingcheng" style="color: #999;">商标</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhuanli(this)">
					<div v-if="users.is_zl==1">
						<img src="../../image/cutpic/true/zl.png">
						<div class="mingcheng">专利</div>
					</div>
					<div v-if="users.is_zl==0">
						<img src="../../image/cutpic/false/zl.png">
						<div class="mingcheng" style="color: #999;">专利</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhuzuoquan(this)">
					<div v-if="users.is_zzq==1">
						<img src="../../image/cutpic/true/zzq.png">
						<div class="mingcheng">著作权</div>
					</div>
					<div v-if="users.is_zzq==0">
						<img src="../../image/cutpic/false/zzq.png">
						<div class="mingcheng" style="color: #999;">著作权</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhishichanquan(this)">
					<div v-if="users.is_zxcq==1">
						<img src="../../image/cutpic/true/zscq.png" style="margin-top: -11px; ">
						<div class="mingcheng1">知识产权</div>
						<div class="mingcheng2">出质登记信息</div>
					</div>
					<div v-if="users.is_zxcq==0">
						<img src="../../image/cutpic/false/zscq.png" style="margin-top: -11px; ">
						<div class="mingcheng1" style="color: #999;">知识产权</div>
						<div class="mingcheng2" style="color: #999;">出质登记信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
				</div>
			</div>
		</div>
		<div
			style="width: 96%;margin-left: 2%;background: #fff;margin-top: 1rem;height: 213px;border: 1px solid #E6E6E6">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhaopin(this)">
					<div v-if="users.is_zp==1">
						<img src="../../image/cutpic/true/zp.png">
						<div class="mingcheng">招聘</div>
					</div>
					<div v-if="users.is_zp==0">
						<img src="../../image/cutpic/false/zp.png">
						<div class="mingcheng" style="color: #999;">招聘</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhucewangzhan(this)">
					<div v-if="users.is_web==1">
						<img src="../../image/cutpic/true/zcwz.png">
						<div class="mingcheng">注册网站</div>
					</div>
					<div v-if="users.is_web==0">
						<img src="../../image/cutpic/false/zcwz.png">
						<div class="mingcheng" style="color: #999;">注册网站</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="chanpinxinxi(this)">
					<div v-if="users.is_product==1">
						<img src="../../image/cutpic/true/cpxx.png">
						<div class="mingcheng">产品信息</div>
					</div>
					<div v-if="users.is_product==0">
						<img src="../../image/cutpic/false/cpxx.png">
						<div class="mingcheng" style="color: #999;">产品信息</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="gongsijianjie(this)">
					<div v-if="users.is_gsjj==1">
						<img src="../../image/cutpic/true/gsjj.png">
						<div class="mingcheng">公司简介</div>
					</div>
					<div v-if="users.is_gsjj==0">
						<img src="../../image/cutpic/false/gsjj.png">
						<div class="mingcheng" style="color: #999;">公司简介</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="zhaotoubiao(this)">
					<div v-if="users.is_ztb==1">
						<img src="../../image/cutpic/true/ztb.png">
						<div class="mingcheng">招投标</div>
					</div>
					<div v-if="users.is_ztb==0">
						<img src="../../image/cutpic/false/ztb.png">
						<div class="mingcheng" style="color: #999;">招投标</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="qiyeyuangong(this)">
					<div v-if="users.is_zcry==1">
						<img src="../../image/cutpic/true/qyyg.png">
						<div class="mingcheng">企业员工</div>
					</div>
					<div v-if="users.is_zcry==0">
						<img src="../../image/cutpic/false/qyyg.png">
						<div class="mingcheng" style="color: #999;">企业员工</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="height: 70px;padding-left: 0px;padding-right: 0px;border-top: 1px solid #E6E6E6;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="gongchenxingmu(this)">
					<div v-if="users.is_gcxm==1">
						<img src="../../image/cutpic/true/gcxm.png">
						<div class="mingcheng">工程项目</div>
					</div>
					<div v-if="users.is_gcxm==0">
						<img src="../../image/cutpic/false/gcxm.png">
						<div class="mingcheng" style="color: #999;">工程项目</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;"
					onclick="weixin(this)">
					<div v-if="is_wx==1">
						<img src="../../image/cutpic/true/wechart.png">
						<div class="mingcheng">微信公众号</div>
					</div>
					<div v-if="is_wx==0">
						<img src="../../image/cutpic/false/wechart.png">
						<div class="mingcheng" style="color: #999;">微信公众号</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tupian"
					style="border-right: 1px solid #E6E6E6;height: 70px;line-height: 52px;position: relative;">
				</div>
			</div>
		</div>
		<!-- 正文结束 -->
	</div>
</body>
<script src="../../js/jquery.cookie.js"></script>
<script>
	var search = "";
	var qymcID = "";
	window.onload = function () {
		var vConsole = new VConsole()
		var widthLIN = localStorage.getItem("key");
		document.getElementById('widthLI').style.height = widthLIN + 'px';
		document.getElementById('daohanglan').style.top = widthLIN + 'px';
		var dhlH = document.getElementById('daohanglan').offsetHeight;
		document.getElementById('app').style.marginTop = Number(widthLIN) + Number(dhlH) + 'px';
		var shoucang = "";
		var time = [];
		var timess = [];
		var name, value;
		var str = location.href;
		var num = str.indexOf("?");
		str = str.substr(num + 1);
		var arr = str.split("&");
		for (var i = 0; i < arr.length; i++) {
			num = arr[i].indexOf("=");
			if (num > 0) {
				name = arr[i].substring(0, num);
				value = arr[i].substr(num + 1);
				this[name] = value;
				search = value;
			}
		}
		new Vue({
			el: '#app',
			data: {
				users: [],
				timess: [],
				names: [],
				commonTime: "",
				userss: "",
				zjlength: "",
			},
			mounted: function () {
				this.sendGetByObj();
			},
			methods: {
				sendGetByObj: function () {
					var than = this;
					this.$http.get('../../../index.php/index/qy/view', {
						params: {
							aid: search,
							act: "app"
						}
					})
						.then(function (response) {
							console.log(response.body.content)
							than.zjlength = response.body.content.xq.length;
							than.users = response.body.content
							than.userss = response.body.content.ry;
							qymcID = response.body.content.qymc;
							console.log(response.body.content.xq)
							if (response.body.content.xq.length != '0') {
								Date.prototype.toLocaleString = function () {
									return this.getFullYear() + "." + (this.getMonth() + 1) + "." + this.getDate();
								};
								var time = response.body.content.xq.yyqs;
								var unixTimestamp = new Date(time * 1000);
								than.commonTime = unixTimestamp.toLocaleString();
							}


						})
						.catch(function (error) {
							console.log(error);
						});
				},
				shoucangs: function () {
					var than = this;
					var ueser = than.users;
					this.$http.get('../../../index.php/index/stow/insert', {
						params: {
							type: "qyxx",
							act: "app",
							aid: search,
							pid: search,
							title: than.users.qymc
						}
					})
						.then(function (response) {
							console.log(response)
							if (response.data.state != '500') {
								ueser.isstow = response.data.isstow;
							}
							console.log(ueser)
							than.users = ueser
							var panduan = localStorage.getItem("key1");
							if (panduan == '1') {
								window.control.LogShow(response.data.msg)
							} else {
								window.webkit.messageHandlers.showMessage.postMessage(response.data.msg)
							}
						})
						.catch(function (error) {
							console.log(error);
						});
				}
			}
		});
	}

	function gongshangxinxi(element) {
		window.location.href = "gongshangxinxi.html?aid=" + search
	}

	function gudongxinxi(element) {
		window.location.href = "gudongxinxi.html?aid=" + search;
	}

	function zhuyaorenyuan(element) {
		window.location.href = "renyuanxinxi.html?aid=" + search;
	}

	function biangengjilu(element) {
		window.location.href = "biangenjilu.html?aid=" + search;
	}

	function qiyenianbao(element) {
		window.location.href = "qiyenianbao.html?aid=" + search;
	}

	function jinrixinzeng(element) {

		window.location.href = "jinrixinzeng.html?aid=" + search + '&name=' + qymcID;
	}

	function xinxizongliang(element) {
		window.location.href = "xinxizongliang.html?aid=" + search + '&name=' + qymcID;
	}

	function buliangxinxi(element) {
		window.location.href = "buliangxinxi.html?aid=" + search;
	}

	function minshian(element) {
		window.location.href = "minshian.html?aid=" + search;
	}

	function peichangan(element) {
		window.location.href = "peichangan.html?aid=" + search;
	}

	function xingzhenan(element) {
		window.location.href = "xingzhengan.html?aid=" + search;
	}

	function zhixingan(element) {
		window.location.href = "zhixingan.html?aid=" + search;
	}

	function zhixingxinxi(element) {
		console.log(search)
		window.location.href = "zhixingxinxi1.html?aid=" + search;
	}

	function chouchajiancha(element) {
		window.location.href = "chouchajiancha.html?aid=" + search;
	}

	function shuangsuijichoucha(element) {
		window.location.href = "shuangsuijichoucha.html?aid=" + search;
	}

	function sifaxiezhu(element) {
		window.location.href = "sifaxiezhu.html?aid=" + search;
	}

	function heimingdan(element) {
		window.location.href = "heimingdan.html?aid=" + search;
	}

	function zizhizhengshu(element) {
		window.location.href = "qiyezizhizhengshu.html?aid=" + search;
	}

	function zizhizhengshu(element) {
		window.location.href = "qiyezizhizhengshu.html?aid=" + search;
	}

	function shangbiao(element) {
		window.location.href = "shangbiaoxinxi.html?aid=" + search;
	}

	function zhishichanquan(element) {
		window.location.href = "zhishichanquanchuzhi.html?aid=" + search;
	}

	function zhaopin(element) {
		window.location.href = "zhaoping.html?aid=" + search;
	}

	function zhucewangzhan(element) {
		window.location.href = "zhucewangzhan.html?aid=" + search + "&name=" + qymcID;;
	}

	function chanpinxinxi(element) {
		window.location.href = "chanpinxinxi.html?aid=" + search + "&name=" + qymcID;
	}

	function chanpinxinxi(element) {
		window.location.href = "chanpinxinxi.html?aid=" + search + "&name=" + qymcID;
	}

	function gongsijianjie(element) {
		window.location.href = "gongsijianjie.html?sn=" + search + "&name=" + qymcID;
	}

	function zhaotoubiao(element) {
		window.location.href = "zhaotoubiao.html?name=" + search;
	}

	function qiyeyuangong(element) {
		window.location.href = "qiyeyuangong.html?name=" + search;
	}

	function gongchenxingmu(element) {
		window.location.href = "gongchenxiangmu.html?name=" + search;
	}

	function weixin(element) {
		window.location.href = "weiixngongzhonghao.html?name=" + search;
	}

	function zhuanli(element) {
		window.location.href = "zhuanli.html?id=" + search
	}

	function zhuzuoquan(element) {
		window.location.href = "zhuzuoquan.html?id=" + search
	}

	function Mclose() {
		var widthLIN1 = localStorage.getItem("key1");
		if (widthLIN1 == "2") {
			window.webkit.messageHandlers.Mclose.postMessage("123");
		} else {
			window.control.mClose();
		}

	}

	function Mback() {
		window.history.back();
	}
</script>

</html>