html,  body {
	margin: 0;
	height: 100%;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 0px solid transparent;
}
.form-control {
	width: 80%;
}
.form-control {
	border: 0px solid #000;
	border-right: 1px solid #d4d4d4;
}
.input-group-addon {
	border: 0px solid #000;
}
input {
	outline: none;
}
.header {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	position: relative;
}
.header div:before,  .header div:after {
	position: absolute;
	background: #ccc;
	content: "";
	height: 1px;
	top: 50%;
	width: 100px;
}
.header div:before {
	left: 10px;
}
.header div:after {
	right: 10px;
}
.col-xs-3 {
	padding-left: 0px;
}
.col-xs-12 {
	padding-left: 0px;
}
.col-xs-8 {
	padding-left: 0px;
}
 [v-cloak] {
 display: none !important;
}
 .nones{
    background:#fff;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nones img{align-items: center;}
.jiazaizhong{
    text-align: center;
    position: absolute;
    bottom: -19%;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 20000000000;
    display: block;
}