.til{
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0;
	top:0;
	background-color: #fff;
	z-index: 9999;
}
.til_point{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.til_point img{
	width: 60%;
	height: 60%;
}
.til_text{
	height: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
}
.zhuti{
	-moz-box-shadow:0px 0px 5px #FF7800; 
	-webkit-box-shadow:0px 0px 5px #FF7800; 
	box-shadow:0px 0px 5px #FF7800;
	padding: 10px 0;
	width: 90%;
	margin: 0 auto;
	border-radius: 6px;
	
}
.zhuti_bt{
	display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	line-height: 45px;
}
.zhuti_bt img{
	width: 25px;
	height: 25px;
	margin-left: 10px;
}
.zhuti_bt span{
	line-height: 45px;
}