<!DOCTYPE html>
<html lang="en">

<head>
    <title>求职意向</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/jibenxinxi.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/axios.js"></script>
    <script src="../../js/vue-resource.js"></script>
    <script src="../../js/vconsole.min.js"></script>
    <script src="../../js/minganci.js"></script>
    <script src="../../js/jsencrypt.js"></script>
    <script src="../../js/hsjidh.js"></script>
    <script src="../../js/axiosjsqing.js"></script>
    <script src="../../js/jgifdj.js"></script>
</head>
<style>
    html,
    body {
        height: 100%;
    }

    textarea {
        width: 100%;
        height: 30vh;
        resize: none;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 5px;

    }

    .pingjia {
        width: 100%;
        padding: 15px;
    }

    .leibiao {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0px 15px;
        width: 94%;
        margin-left: 3%;
        margin-top: 16px;
    }
</style>

<body>
    <div id="app">
        <nav class="navbar navbar-default" role="navigation" style="background:#fff;width: 100%;z-index: 100000;"
            id="daohanglan">
            <div class="container-fluid">
                <div class="">
                    <a class="navbar-brand col-xs-2 col-sm-2 col-md-2 col-lg-2"
                        style="color: #fff;text-align: center;"><span class="glyphicon glyphicon-chevron-left"
                            style="color: rgb(0, 0, 0);" onclick="Mback()"></span></a>
                    <a class="navbar-brand col-xs-8 col-sm-8 col-md-8 col-lg-8"
                        style="color: #000;text-align: center;font-size: 20px;font-weight: blod;">自我评价</a>
                    <a class="navbar-brand col-xs-2 col-sm-2 col-md-2 col-lg-2"
                        style="color: #000;float: right;text-align: right;"><span
                            style="color: rgb(0, 0, 0);margin-left: -15px;font-size:14px;" @click="shanchu">删除</span></a>
                </div>
            </div>
        </nav>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">公司名称</span>
            <span class="leibiao_rigth"><input type="text" placeholder="请填写项目名称" v-model="ashjdg"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">开始时间</span>
            <span class="leibiao_rigth"><input type="datetime-local" style="text-align: right !important;"
                    v-model="statime"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">结束时间</span>
            <span class="leibiao_rigth"><input type="date" style="text-align: right !important; "
                    v-model="endtime"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao" @click="hangye('hangye' , '4')">
            <span class="leibiao_left">行业类别</span>
            <span class="leibiao_rigth">{{qiwanghy}} ></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao" @click="zhiwei('zhiye' , '5')">
            <span class="leibiao_left">职位名称</span>
            <span class="leibiao_rigth">{{qiwangzw}} ></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao" @click="gongzuoxz('xinzi' , '3')">
            <span class="leibiao_left">职位薪资</span>
            <span class="leibiao_rigth">{{qiwangxz}} ></span>
        </div>
        <div class="pingjia">
            <textarea name="" id="" placeholder="工作描述" v-model="textarea"></textarea>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button @click="xiugai">123</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yingcangyi" id="yingcangyi">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yingcangwu" id="yingcangwu" style="padding: 0px;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diqu" style="padding: 0px;">
                <div v-for="hy in hys"
                    style="text-align: center;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;"
                    @click="diquxuanze(hy.id,hy.name)">
                    {{hy.name}}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diqus"
                style="text-align: center;background: #f4f4f4;padding: 0;padding: 0px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 diqus_l" style="text-align: center;padding: 0px;">
                    <div v-for="hyser in hysers"
                        style="text-align: center;background: #f4f4f4;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;"
                        @click="queding(hyser.id,hyser.name)">
                        {{hyser.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yingcangsan" id="yingcangsan">
            <div class="form-group">
                <label class="radio-inline sex" v-for="user in users" @click="xuanze(user.id,user.name)">
                    {{user.name}}
                </label>
                <label class="radio-inline quxiao">
                    取消
                </label>
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        new Vue({
            el: '#app',
            data: {
                users: "",
                ashjdg: "",
                textarea: "",
                statime: "",
                endtime: "",
                hys: "",
                hysers: "",
                qiwanghy: "请选择",//期望行业
                qiwanghyid: "",//期望行业id
                qiwangzw: "请选择",//职位名称
                qiwangzwid: "",//职位名称id
                qiwangxz: "请选择",//职位薪资
                qiwangxzid: ""//职位薪资id
            },
            mounted: function () {
                this.huoquqiuzhi();
                //    window.sdhsj = this.changeCount;
            },
            methods: {
                huoquqiuzhi: function () {
                    fjdf();
                    var than = this;
                    // http://192.168.2.100/index.php/api/wode/obtain_intention
                    this.$http.post('../../../../index.php/api/wode/obtain_work_experience', {
                        id: '',
                        aid:"37"
                        // type:"1",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                            if(res.data.data.length == '0'){

                            }else{
                                than.ashjdg = res.data.data.company;
                                than.endtime = res.data.data.end_time;
                                than.qiwanghy = res.data.data.hangye + '-' + res.data.data.zhiwei;
                                than.statime = res.data.data.start_time;
                                than.textarea = res.data.data.text;
                                than.qiwangxz = res.data.data.xinzi;
                                than.qiwangzw = res.data.data.zhiwei_ming;
                            }
                        }, function () {
                            //console.log('请求失败处理');
                        });
                },
                gongzuoxz: function (e, id) {
                    var than = this;
                    $('#yingcangyi').css('display', 'block')
                    $('#yingcangsan').css('display', 'block')
                    than.huoquxinxi(e, id);
                },
                xiugai: function () {
                    fjdf();
                    var than = this;
                    console.log(than.statime)
                    var timeDate = than.statime;
                    var timeDates = than.endtime;
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var currentdate = year + '-' + month
                    var statime1 = new Date(currentdate).getTime() / 1000//系统时间
                    var statime = new Date(timeDate).getTime() / 1000//选择时间
                    var endtime = new Date(timeDates).getTime() / 1000//结束时间
                    // if (statime < statime1 || endtime > statime) {
                    this.$http.post('../../../../index.php/api/wode/add_work_experience', {
                        aid: '37',
                        id:"",
                        company: than.ashjdg,
                        start_time: statime,
                        end_time: endtime,
                        typeid: than.qiwanghyid,
                        state: than.qiwangzwid,
                        money: than.qiwangxzid,
                        text: than.textarea,
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                        }, function () {
                            //console.log('请求失败处理');
                        });
                    // } else {
                    //     console.log('789')
                    // }
                    console.log(statime)
                },
                hangye: function (id, name) {
                    fjdf();
                    var than = this;
                    $('#yingcangyi').css('display', 'block')
                    $('#yingcangwu').css('display', 'block')
                    var than = this;
                    this.$http.post('../../../../index.php/api/wode/personal_xiala?xingzhi&city_id&hangye&industry', {
                        xingzhi: '1',
                        city_id: "",
                        hangye: "",
                        industry: "",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            var a = res.data.data;
                            var b = a[id];
                            //console.log(b)
                            than.hys = b
                        }, function () {
                            //console.log('请求失败处理');
                        });
                },
                diquxuanze: function (id, name) {
                    var than = this;
                    // //console.log(id + '-' + name)
                    than.hyyiji = name;
                    var hys = than.hys;
                    than.hysers = hys[id].zi
                },
                queding: function (id, name) {
                    $('#yingcangyi').css('display', 'none')
                    $('#yingcangwu').css('display', 'none')
                    var than = this;
                    var hyyiji = than.hyyiji;
                    // //console.log(hyyiji + ',' + name)
                    than.qiwanghy = hyyiji + '-' + name;
                    than.qiwanghyid = id;
                },
                zhiwei: function (id, name) {
                    fjdf();
                    $('#yingcangyi').css('display', 'block')
                    $('#yingcangsan').css('display', 'block')
                    var than = this;
                    than.panduan = name;
                    this.$http.post('../../../../index.php/api/wode/personal_xiala?xingzhi&city_id&hangye&industry', {
                        xingzhi: '1',
                        city_id: "",
                        hangye: than.qiwanghyid,
                        industry: "",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            var a = res.data.data;
                            var b = a[id];
                            than.users = b
                            // than.hys = b
                        }, function () {
                            //console.log('请求失败处理');
                        });
                },
                xuanze: function (id, name) {
                    var than = this;
                    var panduan = than.panduan;
                    $('#yingcangyi').css('display', 'none')
                    $('#yingcangsan').css('display', 'none')
                    if (panduan == '3') {
                        than.qiwangxz = name;
                        than.qiwangxzid = id;
                    } else if (panduan == '5') {
                        than.qiwangzw = name;
                        than.qiwangzwid = id;
                    }
                },
                huoquxinxi: function (e, id) {
                    fjdf();
                    var than = this;
                    this.$http.post('../../../../index.php/api/wode/personal_xiala?xingzhi&city_id&hangye&industry', {
                        xingzhi: than.xingzhiid,
                        city_id: "",
                        hangye: "",
                        industry: "",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            var a = res.data.data;
                            var b = a[e];
                            //console.log(b)
                            than.users = b
                            than.panduan = id;
                        }, function () {
                            //console.log('请求失败处理');
                        });
                },
                shanchu:function(){
                    fjdf();
                    // http://192.168.2.100/index.php/api/Personal/del_work
                    var than = this;
                    this.$http.post('../../../../index.php/api/Personal/del_work', {
                        id:"11"
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                        }, function () {
                            //console.log('请求失败处理');
                        });
                }
            }
        })
    }
</script>

</html>