<!DOCTYPE html>
<html lang="en">

<head>
    <title>求职意向</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/jibenxinxi.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/axios.js"></script>
    <script src="../../js/vue-resource.js"></script>
    <script src="../../js/vconsole.min.js"></script>
    <script src="../../js/minganci.js"></script>
    <script src="../../js/jsencrypt.js"></script>
    <script src="../../js/hsjidh.js"></script>
    <script src="../../js/axiosjsqing.js"></script>
    <script src="../../js/jgifdj.js"></script>
</head>
<style>
    html,
    body {
        height: 100%;
    }

    textarea {
        width: 100%;
        height: 30vh;
        resize: none;
        border: 0px;
        outline: none;
    }

    .pingjia {
        width: 100%;
        padding: 10px;
    }
</style>

<body>
    <div id="app">
        <nav class="navbar navbar-default" role="navigation" style="background:#fff;width: 100%;z-index: 100000;"
            id="daohanglan">
            <div class="container-fluid">
                <div class="">
                    <a class="navbar-brand col-xs-2 col-sm-2 col-md-2 col-lg-2"
                        style="color: #fff;text-align: center;"><span class="glyphicon glyphicon-chevron-left"
                            style="color: rgb(0, 0, 0);" onclick="Mback()"></span></a>
                    <a class="navbar-brand col-xs-8 col-sm-8 col-md-8 col-lg-8"
                        style="color: #000;text-align: center;font-size: 20px;font-weight: blod;">自我评价</a>
                    <a class="navbar-brand col-xs-2 col-sm-2 col-md-2 col-lg-2"
                        style="color: #000;float: right;text-align: right;"><span
                            style="color: rgb(0, 0, 0);margin-left: -15px;font-size:14px;"@click="shanshu">删除</span></a>
                </div>
            </div>
        </nav>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">学校名称</span>
            <span class="leibiao_rigth"><input type="text" placeholder="请填写学校名称" v-model="school"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">专业名称</span>
            <span class="leibiao_rigth"><input type="text" placeholder="请填写专业名称" v-model="profession"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao" @click="huoquxinxi('xueli' , '1')">
            <span class="leibiao_left">学历/学位</span>
            <span class="leibiao_rigth">{{xueli}} ></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">开始时间</span>
            <span class="leibiao_rigth"><input type="date" style="text-align: right !important; "
                    v-model="statime"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 leibiao">
            <span class="leibiao_left">结束时间</span>
            <span class="leibiao_rigth"><input type="date" style="text-align: right !important; "
                    v-model="endtime"></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yingcangyi" id="yingcangyi">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yingcangsan" id="yingcangsan">
            <div class="form-group">
                <label class="radio-inline sex" v-for="user in users" @click="xuanze(user.id,user.name)">
                    {{user.name}}
                </label>
                <label class="radio-inline quxiao">
                    取消
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button @click="xiugai">123</button>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        new Vue({
            el: '#app',
            data: {
                users: "",
                school: "",
                profession: "",
                xueli: "请选择",
                xueliid: "",
                statime: "",
                endtime: "",
            },
            mounted: function () {
                this.huoquxueli();
                //    window.sdhsj = this.changeCount;
            },
            methods: {
                huoquxueli: function () {
                    fjdf();
                    // index.php / api / wode / obtain_teach_experience
                    var than = this;
                    this.$http.post('../../../../index.php/api/wode/obtain_teach_experience', {
                        id:"4",
                        aid:"37",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                            than.xueli = res.data.data.education;
                            than.endtime = res.data.data.end_time;
                            than.profession = res.data.data.major;
                            than.school = res.data.data.school;
                            than.statime = res.data.data.start_time;
                        }, function () {
                            console.log('请求失败处理');
                        });
                },
                huoquxinxi: function (e, id) {
                    fjdf();
                    $('#yingcangyi').css('display', 'block')
                    $('#yingcangsan').css('display', 'block')
                    var than = this;
                    this.$http.post('../../../../index.php/api/wode/personal_xiala?xingzhi&city_id&hangye&industry', {
                        xingzhi: "1",
                        city_id: "",
                        hangye: "",
                        industry: "",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                            var a = res.data.data;
                            var b = a[e];
                            than.users = b
                        }, function () {
                            console.log('请求失败处理');
                        });
                },
                xuanze: function (id, name) {
                    console.log(id + '-' + name)
                    var than = this;
                    than.xueli = name;
                    than.xueliid = id;
                    $('#yingcangyi').css('display', 'none')
                    $('#yingcangsan').css('display', 'none')
                },
                xiugai: function () {
                    fjdf();
                    var than = this;
                    var timeDate = than.statime;
                    var timeDates = than.endtime;
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var currentdate = year + '-' + month
                    var statime1 = new Date(currentdate).getTime() / 1000//系统时间
                    var statime = new Date(timeDate).getTime() / 1000//选择时间
                    var endtime = new Date(timeDates).getTime() / 1000//结束时间
                    this.$http.post('../../../../index.php/api/wode/add_teach_experience', {
                        id: "4",
                        aid: "37",
                        school: than.school,
                        major: than.profession,
                        education: than.xueliid,
                        start_time: statime,
                        end_time: endtime,
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                        }, function () {
                            console.log('请求失败处理');
                        });
                },
                shanshu:function(){
                    fjdf();
                    // index.php/api/Personal/del_teach
                     var than = this;
                    this.$http.post('../../../../index.php/api/Personal/del_teach', {
                        id:"5",
                    },{
                        headers:{
                            'Cookies':ashjd
                        }
                    })
                        .then(function (res) {
                            console.log(res)
                        }, function () {
                            console.log('请求失败处理');
                        });
                }
            }
        })
    }
</script>

</html>